<!doctype html>
<html>
<head>
    <title>Meetup Events</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="nametags">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Meetup Nametags</a>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div ng-controller="events">
                <ul class="nav nav-sidebar">
                    <li ng-repeat="event in events"  ng-class="{active: event.id === selectedEvent}">
                        <a ng-click="selectEvent(event.id)" href="#/events/{{event.id}}">{{event.date}}<br/>{{event.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-view class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        </div>
    </div>


</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/nametags.js"></script>
</body>
</html>